---
import Layout from '../layouts/Layout.astro';
---

<Layout title="n1sym.com">
	<main>
		<h1>n1sym.com</h1>
    <p>Happy Hacking :)</p>
    <p>
      <a href="https://github.com/n1sym" target="_blank" rel="noopener noreferrer">Github</a> /
      <a href="https://twitter.com/n1sym" target="_blank" rel="noopener noreferrer">Twitter</a> /
      <a href="https://simple-tech.hukurouo.com/" target="_blank" rel="noopener noreferrer">Blog</a>
    </p>
	</main>
</Layout>
<style>
</style>
