---
import Layout from '../layouts/Layout.astro';
---

<Layout title="n1sym.com">
	<main>
		<h1>n1sym.com</h1>
    <p>Happy Hacking :)</p>
    <ul>
      <li><a href="https://github.com/n1sym" target="_blank" rel="noopener noreferrer">Github</a></li>
      <li><a href="https://twitter.com/n1sym" target="_blank" rel="noopener noreferrer">Twitter</a></li>
      <li><a href="https://simple-tech.hukurouo.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
    </ul>
    <p>別名義 : <a href="https://hukurouo.com/" target="_blank" rel="noopener noreferrer">@hukurouo</a></p>
	</main>
</Layout>
<style>
</style>
