---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		padding: 10px;
		background-color: #f7f7f711;
    font-family: sans-serif;
	}
  body {
    line-height: 1.75rem;
    font-size: 1.125rem;
  }
  a {
    color: rgba(31, 41, 55, 0.836);
  }
  li {
    padding-bottom: 2px;
  }
  p {
    color: rgb(31, 41, 55);
  }
</style>
